#wrap{
    margin: 50px;
}
.scssBox{
    width: 100%;
    padding: 20px;
    background: #ddd;
    margin-bottom: 20px;
}

$main-color: #dddddd;
$sub-color: #a5bd3b;
$padding-size:20px;

.box{
    background: $main-color;
    padding: $padding-size;
}