a{text-decoration: none; color: #000}

nav{
    background: rgb(0, 153, 255);
    padding: 20px 0;
}
nav>ul{
    display: flex;
    position: relative;
    
}
nav>ul>li{}
nav>ul>li>a{
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
nav>ul>li>ul{display: none;}
nav>ul:hover>li>ul{display: block;}
nav>ul>li>ul>li{}
nav>ul>li>ul>li>a{}